@charset "UTF-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}
html, body{
    font-family: 'HakgyoansimWoojuR', "Roboto Condensed", sans-serif;;
    font-size: 14px;
    color: #444;
}
body{}
img{vertical-align: middle;}
table{border-collapse: collapse;}